<section id="faq" class="faqContainer">
  <picture class="faqBoxPicture">
    <source media="(min-width: 1200px)" srcset="./img/faq/box-desktop1x.png 1x, ./img/faq/box-desktop2x.png 2x" />
    <source media="(min-width: 320px) " srcset="./img/faq/treasure-box.png 1x, ./img/faq/treasure-box@2x.png 2x" />
    <img src="./img/faq/treasure-box.png" alt="box" class="faqBox" />
  </picture>

  <h3 class="faqTitle">Faq</h3>
  <ul class="faqList">
    <li class="faqListItem item1">
      <h3 class="faqListItemTitle">Is Hub Top Quest suitable for all ages?</h3>
      <p class="faqListItemText">
        Match-3 games are generally appropriate for a wide audience, but check
        the game&apos;s content rating for specific recommendations
      </p>
    </li>
    <li class="faqListItem item2">
      <h3 class="faqListItemTitle">
        Are there in-app purchases in Hub Top Quest?
      </h3>
      <p class="faqListItemText">
        Refer to the Google Play Store details for information on in-app
        purchases
      </p>
    </li>
    <li class="faqListItem item3">
      <h3 class="faqListItemTitle">How do I unlock more levels?</h3>
      <p class="faqListItemText">
        Progress through the game and complete levels to unlock new content
      </p>
    </li>
    <li class="faqListItem item4">
      <h3 class="faqListItemTitle">
        Can I compete with friends in Hub Top Quest?
      </h3>
      <p class="faqListItemText">
        Look for any social or multiplayer features within the game to compete
        or collaborate with friends
      </p>
    </li>
    <li class="faqListItem item5">
      <h3 class="faqListItemTitle">Can I play Hub Top Quest offline?</h3>
      <p class="faqListItemText">
        Most match-3 games can be played offline, but check the game details for
        confirmation
      </p>
    </li>
    <li class="faqListItem item6">
      <h3 class="faqListItemTitle">What do I do if I'm stuck on a level?</h3>
      <p class="faqListItemText">
        Use power-ups or look online for tips and strategies specific to the
        level you're stuck on
      </p>
    </li>
    <li class="faqListItem item7">
      <h3 class="faqListItemTitle">
        How often is new content added to the game?
      </h3>
      <p class="faqListItemText">
        New levels and features are regularly added in updates. Check the
        game&apos;s update history for patterns
      </p>
    </li>
    <li class="faqListItem item8">
      <h3 class="faqListItemTitle">
        Who do I contact for support if I have an issue?
      </h3>
      <p class="faqListItemText">
        Refer to the support or contact information provided in the game&apos;s
        details on the Google Play Store or in the game&apos;s settings
      </p>
    </li>
  </ul>
</section>