<section id="gallery" class="galleryContainer">

  <picture class="galleryPictureCloud">
    <source media="(max-width: 320px)"
      srcset="./img/gallery/cloud-gallery-mob1x.png 1x, ./img/gallery/cloud-gallery-mob2x.png 2x" />
    <source media="(min-width: 1200px)"
      srcset="./img/gallery/cloud-gallery-desktop1x.png 1x, ./img/gallery/cloud-gallery-desktop2x.png 2x" />
    <img src="./img/gallery/cloud-gallery-mob1x.png" alt="cloud" class="galleryCloudImg" />
  </picture>

  <picture class="galleryPictureBrunch">
    <source media="(max-width: 320px)" srcset="./img/gallery/brunch-mob1x.png 1x, ./img/gallery/brunch-mob2x.png 2x" />
    <source media="(min-width: 1200px)"
      srcset="./img/gallery/brunch-desktop1x.png 1x, ./img/gallery/brunch-desktop2x.png 2x" />
    <img src="./img/gallery/brunch-mob1x.png" alt="branch" class="galleryBrunchImg" />
  </picture>

  <picture class="galleryPictureTucan">
    <source media="(max-width: 320px)" srcset="./img/gallery/tukan-mob1x.png 1x, ./img/gallery/tukan-mob2x.png 2x" />
    <source media="(min-width: 1200px)"
      srcset="./img/gallery/tukan-desktop1x.png 1x, ./img/gallery/tukan-desktop2x.png 2x" />
    <img src="./img/gallery/tukan-mob1x.png" alt="tukan" class="galleryTukanImg" />
  </picture>

  <h3 class="galleryTitle">Gallery</h3>

  <div class="swiper">
    <ul class="galleryList swiper-wrapper">
      <li class="galleryListItem swiper-slide">
        <picture class="galleryPictureTucan">
          <source media="(max-width: 320px)"
            srcset="./img/gallery/gallery-image1@1x.png 1x, ./img/gallery/gallery-image1@2x.png 2x" />
          <source media="(min-width: 1200px)"
            srcset="./img/gallery/gallery-image1@1x.png 1x, ./img/gallery/gallery-image1@2x.png 2x" />
          <img src="./img/gallery/gallery-image1@1x.png" alt="game" class="galleryImg" />
        </picture>
      </li>

      <li class="galleryListItem swiper-slide">
        <picture class="galleryPictureTucan">
          <source media="(max-width: 320px)"
            srcset="./img/gallery/gallery-image2@1x.png 1x, ./img/gallery/gallery-image2@2x.png 2x" />
          <source media="(min-width: 1200px)"
            srcset="./img/gallery/gallery-image2@1x.png 1x, ./img/gallery/gallery-image2@2x.png 2x" />
          <img src="./img/gallery/gallery-image2@1x.png" alt="game" class="galleryImg" />
        </picture>
      </li>

      <li class="galleryListItem swiper-slide">
        <picture class="galleryPictureTucan">
          <source media="(max-width: 320px)"
            srcset="./img/gallery/gallery-image3@1x.png 1x, ./img/gallery/gallery-image3@2x.png 2x" />
          <source media="(min-width: 1200px)"
            srcset="./img/gallery/gallery-image3@1x.png 1x, ./img/gallery/gallery-image3@2x.png 2x" />
          <img src="./img/gallery/gallery-image3@1x.png" alt="game" class="galleryImg" />
        </picture>
      </li>

      <li class="galleryListItem swiper-slide">
        <picture class="galleryPictureTucan">
          <source media="(max-width: 320px)"
            srcset="./img/gallery/gallery-image4@1x.png 1x, ./img/gallery/gallery-image4@2x.png 2x" />
          <source media="(min-width: 1200px)"
            srcset="./img/gallery/gallery-image4@1x.png 1x, ./img/gallery/gallery-image4@2x.png 2x" />
          <img src="./img/gallery/gallery-image4@1x.png" alt="game" class="galleryImg" />
        </picture>
      </li>

      <li class="galleryListItem swiper-slide">
        <picture class="galleryPictureTucan">
          <source media="(max-width: 320px)"
            srcset="./img/gallery/gallery-image5@1x.png 1x, ./img/gallery/gallery-image5@2x.png 2x" />
          <source media="(min-width: 1200px)"
            srcset="./img/gallery/gallery-image5@1x.png 1x, ./img/gallery/gallery-image5@2x.png 2x" />
          <img src="./img/gallery/gallery-image5@1x.png" alt="game" class="galleryImg" />
        </picture>
      </li>
    </ul>
    <div class="swiper-pagination"></div>
  </div>
</section>