<section id="gallery" class="galleryContainer">
  <div class="container galleryWrapper">
    <picture>
      <source media="(min-width: 1200px)"
        srcset="./img/gallery/cloud-gallery-desktop1x.png 1x, ./img/gallery/cloud-gallery-desktop2x.png 2x" />
      <source media="(min-width: 320px)"
        srcset="./img/gallery/cloudgallery.png 1x, ./img/gallery/cloudgallery.png 2x" />
      <img src="./img/cloudgallery.png" alt="cloud" class="galleryCloudImg" />
    </picture>

    <picture>
      <source media="(min-width: 320px)"
        srcset="./img/gallery/brunch_green1@x.png 1x, ./img/gallery/brunch_green@2x.png 2x" />
      <img src="./img/gallery/brunch_green1@x.png" alt="branch" class="galleryBrunchImg" />
    </picture>

    <picture>
      <source media="(min-width: 320px)"
        srcset="./img/gallery/tukan-tukan@1x.png 1x, ./img/gallery/tukan-tukan@2x.png 2x" />
      <img src="./img/gallery/tukan-tukan@1x.png" alt="tukan" class="galleryTukanImg" />
    </picture>

    <h3 class="galleryTitle">Gallery</h3>

    <div class="swiper">
      <ul class="galleryList swiper-wrapper">
        <li class="galleryListItem swiper-slide">
          <picture>
            <source media="(min-width: 320px)"
              srcset="./img/gallery/gallery-image1@1x.png 1x, ./img/gallery/gallery-image1@2x.png 2x" />
            <img src="./img/gallery/gallery-image1@1x.png" alt="game" class="galleryImg" />
          </picture>
        </li>

        <li class="galleryListItem swiper-slide">
          <picture>
            <source media="(min-width: 320px)"
              srcset="./img/gallery/gallery-image2@1x.png 1x, ./img/gallery/gallery-image2@2x.png 2x" />
            <img src="./img/gallery/gallery-image2@1x.png" alt="game" class="galleryImg" />
          </picture>
        </li>

        <li class="galleryListItem swiper-slide">
          <picture>
            <source media="(min-width: 320px)"
              srcset="./img/gallery/gallery-image3@1x.png 1x, ./img/gallery/gallery-image3@2x.png 2x" />
            <img src="./img/gallery/gallery-image3@1x.png" alt="game" class="galleryImg" />
          </picture>
        </li>

        <li class="galleryListItem swiper-slide">
          <picture>
            <source media="(min-width: 320px)"
              srcset="./img/gallery/gallery-image4@1x.png 1x, ./img/gallery/gallery-image4@2x.png 2x" />
            <img src="./img/gallery/gallery-image4@1x.png" alt="game" class="galleryImg" />
          </picture>
        </li>

        <li class="galleryListItem swiper-slide">
          <picture>
            <source media="(max-width: 320px)"
              srcset="./img/gallery/gallery-image5@1x.png 1x, ./img/gallery/gallery-image5@2x.png 2x" />
            <img src="./img/gallery/gallery-image5@1x.png" alt="game" class="galleryImg" />
          </picture>
        </li>
      </ul>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>