<section id="description" class="deskriptionContainer">
  <div class="deskriptionWrapper">
    <h3 class="deskriptionTitle">Game Description</h3>
    <ul class="deskriptionList">
      <li>
        <picture>
          <source media="(max-width: 320px)"
            srcset="./img/game-description/game-description-img1-mob1x.png 1x, ./img/game-description/game-description-img1-mob2x.png 2x" />
          <img src="./img/game-description/game-description-img1-mob1x.png" alt="game" class="gameImage" />
        </picture>
      </li>
      <li>
        <picture>
          <source media="(max-width: 320px)"
            srcset="./img/game-description/game-description-img2-mob1x.png 1x, ./img/game-description/game-description-img2-mob2x.png 2x" />
          <img src="./img/game-description/game-description-img2-mob1x.png" alt="game" class="gameImage" />
        </picture>
      </li>
      <li>
        <picture>
          <source media="(max-width: 320px)"
            srcset="./img/game-description/game-description-img3-mob1x.png 1x, ./img/game-description/game-description-img3-mob2x.png 2x" />
          <img src="./img/game-description/game-description-img3-mob1x.png" alt="game" class="gameImage" />
        </picture>
      </li>
    </ul>
    <p class="descriptionText">Hub Top Quest is a vibrant puzzle game set on a tropical island, where players solve
      match-3 puzzles to help
      rebuild the island and its structures. By matching three or more items of the same color, players progress through
      increasingly difficult levels. With a colorful theme, unique characters, and challenging objectives, Hub Top Quest
      offers a dynamic and exciting gaming experience. Power-ups and special items help tackle tougher levels, while
      ongoing updates keep the content fresh and engaging for all puzzle enthusiasts.</p>
  </div>


  <picture>
    <source media="(min-width: 1200px)"
      srcset="./img/game-description/game-description-img1-desktop1x.png 1x, ./img/game-description/game-description-img1-desktop2x.png 2x" />
    <img src="./img/game-description/game-description-img1-desktop1x.png" alt="game" class="gameImageDesk" />
  </picture>

  <picture class="pictureCloud">
    <source media="(max-width: 320px)"
      srcset="./img/game-description/cloud-desk1x.png 1x, ./img/game-description/cloud-desk2x.png 2x" />
    <img src="./img/game-description/cloud-desk1x.png" alt="cloud" class="cloudDeskrImg" />
  </picture>
</section>