<section id="home" class="homeSection">
  <div class="homeContainer container">
    <div class="homePhoneWrapper">
      <div class="glowingSphere"></div>
      <picture class="phonePicture">
        <source media="(min-width: 1200px)"
          srcset="./img/home/android-mockup-desktop1x.png 1x, ./img/home/android-mockup-desktop2x.png 2x" />
        <source media="(min-width: 320px)"
          srcset="./img/home/android-mockup-mob1x.png 1x, ./img/home/android-mockup-mob2x.png 2x" />
        <img src="./img/home/android-mockup-mob1x.png" alt="phone" class="phone" />
      </picture>
    </div>

    <div class="googleBox">
      <h1 class="titleHome">Hub Top Quest</h1>
      <a href="https://play.google.com/store/apps/details?id=air.com.qublix.tropictrouble" target="_blank"
        class="google-button">
        <picture>
          <source media="(min-width: 1200px)"
            srcset="./img/home/google-play1x.png 1x, ./img/home/google-play2x.png 2x" />
          <source media="(min-width: 320px)"
            srcset="./img/home/google-play1x.png 1x, ./img/home/google-play2x.png 2x" />
          <img src="./img/home/google-play1x.png" alt="google-button" class="img-google-button" />
        </picture>
      </a>
    </div>

    <picture class="waterPicture">
      <source media="(min-width: 1200px)" srcset="./img/home/water1x.png 1x, ./img/home/water2x.png 2x" />
      <source media="(min-width: 320px)" srcset="./img/home/water1x.png 1x, ./img/home/water2x.png 2x" />
      <img src="./img/home/water1x.png" alt="water" class="waterImg" />
    </picture>
  </div>
</section>