<section id="how-to-play" class="how-to-play-container">
  <div class="htp-wrapper">
    <h3 class="htp-title">How to Play</h3>
    <ul class="htp-list">
      <li class="htp-item">
        <div class="step">
          <img
            src="./img/how-to-play/numbers/list_1.svg"
            alt="number 1"
            class="htp-numbers"
          />
          <p class="htp-text">
            Swipe to match three or more items of the same color to clear them
            from the board
          </p>
        </div>
        <ul class="icons-fruits-list">
          <li>
            <img
              src="./img/how-to-play/fruits/banana.svg"
              alt="banana"
              class="htp-fruits"
            />
          </li>
          <li>
            <img
              src="./img/how-to-play/fruits/banana.svg"
              alt="banana"
              class="htp-fruits"
            />
          </li>
          <li>
            <img
              src="./img/how-to-play/fruits/banana.svg"
              alt="banana"
              class="htp-fruits"
            />
          </li>
        </ul>
      </li>
      <li class="htp-item">
        <div class="step reverse">
          <img
            src="./img/how-to-play/numbers/list_1.svg"
            alt="number 1"
            class="htp-numbers"
          />
          <p class="htp-text">
            Swipe to match three or more items of the same color to clear them
            from the board
          </p>
        </div>
        <ul class="icons-fruits-list">
          <li>
            <img
              src="./img/how-to-play/fruits/banana.svg"
              alt="banana"
              class="htp-fruits"
            />
          </li>
          <li>
            <img
              src="./img/how-to-play/fruits/banana.svg"
              alt="banana"
              class="htp-fruits"
            />
          </li>
          <li>
            <img
              src="./img/how-to-play/fruits/banana.svg"
              alt="banana"
              class="htp-fruits"
            />
          </li>
        </ul>
      </li>
    </ul>
  </div>
</section>
