<section id="how-to-play" class="how-to-play-container">
  <div class="htp-wrapper">
    <h3 class="htp-title">How to Play</h3>
    <ul class="htp-list">
      <li class="htp-item step1-desk">
        <div class="step">
          <picture class="htp-number-box">
            <source
              srcset="
                ./img/how-to-play/numbers/step-1.png    1x,
                ./img/how-to-play/numbers/step-1@2x.png 2x
              "
            />
            <img
              src="./img/how-to-play/numbers/step-1.png "
              alt="1"
              class="step-number"
            />
          </picture>
          <p class="htp-text">
            Swipe to match three or more items of the same color to clear them
            from the board
          </p>
        </div>
        <div class="step-picture-box">
          <picture class="htp-fruits-box">
            <source
              srcset="
                ./img/how-to-play/fruits/items-step-1.png    1x,
                ./img/how-to-play/fruits/items-step-1@2x.png 2x
              "
            />
            <img
              src="./img/how-to-play/fruits/items-step-1 "
              alt="bananas"
              class="step-fruit bubble"
            />
          </picture>
        </div>
      </li>
      <li class="htp-item step2-desk">
        <div class="step">
          <picture class="htp-number-box">
            <source
              srcset="
                ./img/how-to-play/numbers/step-2.png    1x,
                ./img/how-to-play/numbers/step-2@2x.png 2x
              "
            />
            <img
              src="./img/how-to-play/numbers/step-2.png "
              alt="1"
              class="step-number"
            />
          </picture>
          <p class="htp-text">
            Complete specific objectives, such as collecting items or reaching
            target scores, to finish each level
          </p>
        </div>
        <div class="step-picture-box">
          <picture class="htp-fruits-box">
            <source
              srcset="
                ./img/how-to-play/fruits/items-step-2.png    1x,
                ./img/how-to-play/fruits/items-step-2@2x.png 2x
              "
            />
            <img
              src="./img/how-to-play/fruits/items-step-2.png "
              alt="pumkin, plum, orange"
              class="step-fruit bubble"
            />
          </picture>
        </div>
      </li>
      <li class="htp-item step3-desk">
        <div class="step">
          <picture class="htp-number-box">
            <source
              srcset="
                ./img/how-to-play/numbers/step-3.png    1x,
                ./img/how-to-play/numbers/step-3@2x.png 2x
              "
            />
            <img
              src="./img/how-to-play/numbers/step-3.png "
              alt="1"
              class="step-number"
            />
          </picture>
          <p class="htp-text">
            Use power-ups and special tools strategically to overcome difficult
            challenges and maximize your score
          </p>
        </div>
        <div class="step-picture-box">
          <picture class="htp-fruits-box">
            <source
              srcset="
                ./img/how-to-play/fruits/items-step-3.png    1x,
                ./img/how-to-play/fruits/items-step-3@2x.png 2x
              "
            />
            <img
              src="./img/how-to-play/fruits/items-step-3.png "
              alt="blue fire, red fire, bottle"
              class="step-fruit bubble"
            />
          </picture>
        </div>
      </li>
      <li class="htp-item step4-desk">
        <div class="step reverse">
          <picture class="htp-number-box">
            <source
              srcset="
                ./img/how-to-play/numbers/step-4.png    1x,
                ./img/how-to-play/numbers/step-4@2x.png 2x
              "
            />
            <img
              src="./img/how-to-play/numbers/step-4.png "
              alt="1"
              class="step-number"
            />
          </picture>
          <p class="htp-text">
            Plan your moves carefully, as some levels may have limited moves or
            time constraints
          </p>
        </div>
        <div class="step-picture-box reverse-picture">
          <picture class="htp-fruits-box">
            <source
              srcset="
                ./img/how-to-play/fruits/items-step-4.png    1x,
                ./img/how-to-play/fruits/items-step-4@2x.png 2x
              "
            />
            <img
              src="./img/how-to-play/fruits/items-step-4.png "
              alt="hourglass, lock, key"
              class="step-fruit bubble"
            />
          </picture>
        </div>
      </li>
      <li class="htp-item step5-desk">
        <div class="step reverse">
          <picture class="htp-number-box">
            <source
              srcset="
                ./img/how-to-play/numbers/step-5.png    1x,
                ./img/how-to-play/numbers/step-5@2x.png 2x
              "
            />
            <img
              src="./img/how-to-play/numbers/step-5.png "
              alt="1"
              class="step-number"
            />
          </picture>
          <p class="htp-text">
            Advance through increasingly challenging levels, each with unique
            objectives and obstacles
          </p>
        </div>
        <div class="step-picture-box reverse-picture">
          <picture class="htp-fruits-box">
            <source
              srcset="
                ./img/how-to-play/fruits/items-step-5.png    1x,
                ./img/how-to-play/fruits/items-step-5@2x.png 2x
              "
            />
            <img
              src="./img/how-to-play/fruits/items-step-5.png "
              alt="bag of gold, papyrus, box"
              class="step-fruit bubble"
            />
          </picture>
        </div>
      </li>
      <li class="htp-item step6-desk">
        <div class="step reverse">
          <picture class="htp-number-box">
            <source
              srcset="
                ./img/how-to-play/numbers/step-6.png    1x,
                ./img/how-to-play/numbers/step-6@2x.png 2x
              "
            />
            <img
              src="./img/how-to-play/numbers/step-6.png "
              alt="1"
              class="step-number"
            />
          </picture>
          <p class="htp-text">
            Join time-limited events for additional rewards and exclusive
            gameplay opportunities
          </p>
        </div>
        <div class="step-picture-box reverse-picture">
          <picture class="htp-fruits-box">
            <source
              srcset="
                ./img/how-to-play/fruits/items-step-6.png    1x,
                ./img/how-to-play/fruits/items-step-6@2x.png 2x
              "
            />
            <img
              src="./img/how-to-play/fruits/items-step-6.png "
              alt="gift, crown, heart"
              class="step-fruit bubble"
            />
          </picture>
        </div>
      </li>
    </ul>
  </div>

  <div class="mob-bulbs">
    <picture>
      <source
        media="(min-width: 320px) and (max-width: 1999.98px)"
        srcset="
          ./img/how-to-play/bulbs/bulbs-4.png    1x,
          ./img/how-to-play/bulbs/bulbs-4@2x.png 2x
        "
      />
      <img
        src="./img/how-to-play/bulbs/bulbs-4.png "
        alt="bulbs"
        class="bulb1 bubble"
      />
    </picture>
    <picture>
      <source
        media="(min-width: 320px) and (max-width: 1999.98px)"
        srcset="
          ./img/how-to-play/bulbs/bulbs-2.png    1x,
          ./img/how-to-play/bulbs/bulbs-2@2x.png 2x
        "
      />
      <img
        src="./img/how-to-play/bulbs/bulbs-2.png "
        alt="bulbs"
        class="bulb2 bubble"
      />
    </picture>
    <picture>
      <source
        media="(min-width: 320px) and (max-width: 1999.98px)"
        srcset="
          ./img/how-to-play/bulbs/bulbs-2.png    1x,
          ./img/how-to-play/bulbs/bulbs-2@2x.png 2x
        "
      />
      <img
        src="./img/how-to-play/bulbs/bulbs-2.png "
        alt="bulbs"
        class="bulb3 bubble"
      />
    </picture>
    <picture>
      <source
        media="(min-width: 320px) and (max-width: 1999.98px)"
        srcset="
          ./img/how-to-play/bulbs/bulbs-2.png    1x,
          ./img/how-to-play/bulbs/bulbs-2@2x.png 2x
        "
      />
      <img
        src="./img/how-to-play/bulbs/bulbs-2.png "
        alt="bulbs"
        class="bulb4 bubble"
      />
    </picture>
    <picture>
      <source
        media="(min-width: 320px) and (max-width: 1999.98px)"
        srcset="
          ./img/how-to-play/bulbs/bulbs-2.png    1x,
          ./img/how-to-play/bulbs/bulbs-2@2x.png 2x
        "
      />
      <img
        src="./img/how-to-play/bulbs/bulbs-2.png "
        alt="bulbs"
        class="bulb5 bubble"
      />
    </picture>
    <picture>
      <source
        media="(min-width: 320px) and (max-width: 1999.98px)"
        srcset="
          ./img/how-to-play/bulbs/bulbs-2.png    1x,
          ./img/how-to-play/bulbs/bulbs-2@2x.png 2x
        "
      />
      <img
        src="./img/how-to-play/bulbs/bulbs-2.png "
        alt="bulbs"
        class="bulb6 bubble"
      />
    </picture>
    <picture>
      <source
        media="(min-width: 320px) and (max-width: 1999.98px)"
        srcset="
          ./img/how-to-play/bulbs/bulbs-2.png    1x,
          ./img/how-to-play/bulbs/bulbs-2@2x.png 2x
        "
      />
      <img
        src="./img/how-to-play/bulbs/bulbs-2.png "
        alt="bulbs"
        class="bulb7 bubble"
      />
    </picture>
    <picture>
      <source
        media="(min-width: 320px) and (max-width: 1999.98px)"
        srcset="
          ./img/how-to-play/bulbs/bulbs-2.png    1x,
          ./img/how-to-play/bulbs/bulbs-2@2x.png 2x
        "
      />
      <img
        src="./img/how-to-play/bulbs/bulbs-2.png "
        alt="bulbs"
        class="bulb8 bubble"
      />
    </picture>
    <picture>
      <source
        media="(min-width: 320px) and (max-width: 1999.98px)"
        srcset="
          ./img/how-to-play/bulbs/bulbs-2.png    1x,
          ./img/how-to-play/bulbs/bulbs-2@2x.png 2x
        "
      />
      <img
        src="./img/how-to-play/bulbs/bulbs-2.png "
        alt="bulbs"
        class="bulb9 bubble"
      />
    </picture>
    <picture>
      <source
        media="(min-width: 320px) and (max-width: 1999.98px)"
        srcset="
          ./img/how-to-play/bulbs/bulbs-1.png    1x,
          ./img/how-to-play/bulbs/bulbs-1@2x.png 2x
        "
      />
      <img
        src="./img/how-to-play/bulbs/bulbs-1.png "
        alt="bulbs"
        class="bulb10 bubble"
      />
    </picture>
    <picture>
      <source
        media="(min-width: 320px) and (max-width: 1999.98px)"
        srcset="
          ./img/how-to-play/bulbs/bulbs-3.png    1x,
          ./img/how-to-play/bulbs/bulbs-3@2x.png 2x
        "
      />
      <img
        src="./img/how-to-play/bulbs/bulbs-3.png "
        alt="bulbs"
        class="bulb11 bubble"
      />
    </picture>
    <picture>
      <source
        media="(min-width: 320px) and (max-width: 1999.98px)"
        srcset="
          ./img/how-to-play/bulbs/bulbs-3.png    1x,
          ./img/how-to-play/bulbs/bulbs-3@2x.png 2x
        "
      />
      <img
        src="./img/how-to-play/bulbs/bulbs-3.png "
        alt="bulbs"
        class="bulb12 bubble"
      />
    </picture>
  </div>

  <div class="desk-bulbs-arrows">
    <picture>
      <source
        media="(min-width: 1200px)"
        srcset="
          ./img/how-to-play/bulbs/bulbs-desk-1.png    1x,
          ./img/how-to-play/bulbs/bulbs-desk-1@2x.png 2x
        "
      />
      <img
        src="./img/how-to-play/bulbs/bulbs-desk-1.png "
        alt="bulbs"
        class="bulb13"
      />
    </picture>
    <picture>
      <source
        media="(min-width: 1200px)"
        srcset="
          ./img/how-to-play/bulbs/bulbs-desk-2.png    1x,
          ./img/how-to-play/bulbs/bulbs-desk-2@2x.png 2x
        "
      />
      <img
        src="./img/how-to-play/bulbs/bulbs-desk-2.png "
        alt="bulbs"
        class="bulb14"
      />
    </picture>
    <picture>
      <source
        media="(min-width: 1200px)"
        srcset="
          ./img/how-to-play/bulbs/bulbs-desk-3.png    1x,
          ./img/how-to-play/bulbs/bulbs-desk-3@2x.png 2x
        "
      />
      <img
        src="./img/how-to-play/bulbs/bulbs-desk-3.png "
        alt="bulbs"
        class="bulb15"
      />
    </picture>
    <picture>
      <source
        media="(min-width: 1200px)"
        srcset="
          ./img/how-to-play/arrow-nice.png    1x,
          ./img/how-to-play/arrow-nice@2x.png 2x
        "
      />
      <img
        src="./img/how-to-play/arrow-nice.png "
        alt="yellow arrow"
        class="arrow1"
      />
    </picture>
    <picture>
      <source
        media="(min-width: 1200px)"
        srcset="
          ./img/how-to-play/arrow-nice.png    1x,
          ./img/how-to-play/arrow-nice@2x.png 2x
        "
      />
      <img
        src="./img/how-to-play/arrow-nice.png "
        alt="yellow arrow"
        class="arrow2"
      />
    </picture>
    <picture>
      <source
        media="(min-width: 1200px)"
        srcset="
          ./img/how-to-play/arrow-nice.png    1x,
          ./img/how-to-play/arrow-nice@2x.png 2x
        "
      />
      <img
        src="./img/how-to-play/arrow-nice.png "
        alt="yellow arrow"
        class="arrow3"
      />
    </picture>
    <picture>
      <source
        media="(min-width: 1200px)"
        srcset="
          ./img/how-to-play/arrow-nice.png    1x,
          ./img/how-to-play/arrow-nice@2x.png 2x
        "
      />
      <img
        src="./img/how-to-play/arrow-nice.png "
        alt="yellow arrow"
        class="arrow4"
      />
    </picture>
    <picture>
      <source
        media="(min-width: 1200px)"
        srcset="
          ./img/how-to-play/arrow-nice.png    1x,
          ./img/how-to-play/arrow-nice@2x.png 2x
        "
      />
      <img
        src="./img/how-to-play/arrow-nice.png "
        alt="yellow arrow"
        class="arrow5"
      />
    </picture>
  </div>
</section>
