<section id="features" class="features-сontainer">
  <div class="features-wrapper">
    <h3 class="features-title">Unique Features</h3>
    <ul class="features-list">
      <li class="features-item">
        <svg class="icon-features-check">
          <use xlink:href="./img/sprite.svg#icon-checkbox1"></use>
        </svg>
        <p class="text-features">
          Hub Top Quest offers a wide variety of game modes and objectives
          beyond traditional match-3 puzzles, providing a fresh take on the
          genre.
        </p>
      </li>
      <li class="features-item">
        <svg class="icon-features-check">
          <use xlink:href="./img/sprite.svg#icon-checkbox1"></use>
        </svg>
        <p class="text-features">
          Encounter unique board elements, such as tropical obstacles, that
          challenge your problem-solving skills.
        </p>
      </li>
      <li class="features-item">
        <svg class="icon-features-check">
          <use xlink:href="./img/sprite.svg#icon-checkbox1"></use>
        </svg>
        <p class="text-features">
          Use a range of power-ups and special tools to clear difficult levels
          and reach higher scores
        </p>
      </li>
      <li class="features-item">
        <svg class="icon-features-check">
          <use xlink:href="./img/sprite.svg#icon-checkbox1"></use>
        </svg>
        <p class="text-features">
          Frequent updates add new levels, features, and limited-time events to
          keep the game exciting and dynamic.
        </p>
      </li>
    </ul>
  </div>
  <picture class="cloud-richt-feature">
    <source
      media="(min-width: 1200px)"
      srcset="
        ./img/unique-features/Cloud 1_right.png 1x,
        ./img/unique-features/Cloud 1_right@2x.png 2x
      "
    />
    <img
      src="./img/unique-features/Cloud 1_right.png"
      alt="Big clouds"
      class="cloudRicht-feature-desk"
    />
  </picture>

  <picture class="cloud-left-feature">
    <source
      media="(min-width: 1200px)"
      srcset="
        ./img/unique-features/Cloud 2_left.png 1x,
        ./img/unique-features/Cloud 2_left@2x.png 2x
      "
    />
    <img
      src="./img/unique-features/Cloud 2_left.png"
      alt="Small cloud"
      class="cloudLeft-feature-desk"
    />
  </picture>

  <picture class="cloud-right-mob">
    <source
      media="(max-width: 320px)"
      srcset="
        ./img/unique-features/Cloud 3_right_mob.png 1x,
        ./img/unique-features/Cloud 3_right_mob@2x.png 2x
      "
    />
    <img
      src="./img/unique-features/Cloud 3_right_mob.png"
      alt="Small cloud"
      class="cloudRight-feature-mob"
    />
  </picture>
</section>
