.faqContainer {
  min-width: 320px;
  padding: 32px 0;
  position: relative;
  background: linear-gradient(180deg, #0bbbd5 0%, #9fc804 100%);
  background-size: 100% 100%;
  background-position: center;
  @include media(desktop) {
    padding: 56px 0;
  }
}
.faqWrapper {
  padding: 0 16px;
  @include media(desktop) {
    padding: 0 80px;
  }
}
.faqBoxPicture {
  position: absolute;
  top: -67px;
  right: -2px;
  z-index: 900;
  @include media(desktop) {
    top: -194px;
  }
}
.faqBox {
  width: 130px;
  height: 96px;
  display: block;
  @include media(desktop) {
    width: 435px;
    height: 290px;
  }
}
.faqTitle {
  font-family: Potta One;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.44;
  text-align: center;
  text-transform: uppercase;
  color: $text-color;
  margin-bottom: 26px;
  @include media(desktop) {
    font-size: 48px;
    text-align: left;
    color: $title-color;
    margin-bottom: 36px;
  }
}
.faqList {
  display: flex;
  flex-direction: column;
  gap: 4px;
  @include media(desktop) {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 8px;
  }
}
.item1 {
  @include media(desktop) {
    width: 420px;
  }
}
.item2 {
  @include media(desktop) {
    width: 331px;
  }
}
.item3 {
  @include media(desktop) {
    width: 272px;
  }
}
.item4 {
  @include media(desktop) {
    width: 420px;
  }
}
.item5 {
  @include media(desktop) {
    width: 253px;
  }
}
.item6 {
  @include media(desktop) {
    width: 350px;
  }
}
.item7 {
  @include media(desktop) {
    width: 420px;
  }
}
.item8 {
  @include media(desktop) {
    width: 611px;
  }
}

.faqListItem {
  padding: 12px 8px;
  border: 0.5px solid $text-color;
  border-radius: 12px;
  @include media(desktop) {
    padding: 24px;
    border: 1px solid $text-color;
  }
}
.faqListItemTitle {
  font-size: 14px;
  font-weight: 800;
  line-height: 1.25;
  letter-spacing: 0.01em;
  text-align: center;
  color: $text-color;
  margin-bottom: 8px;
  @include media(desktop) {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 24px;
  }
}
.faqListItemText {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.25;
  text-align: center;
  letter-spacing: 0.01em;
  @include media(desktop) {
    font-size: 16px;
  }
}
