.footer {
  width: 100%;
  background-image: url('/img/footer/footer1x.png');
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 80%;
  color: $title-color;
  padding: 24px 0 7px 0;
  display: flex;
  flex-direction: column;

  @include media(desktop) {
    opacity: 100%;
    background-image: url('/img/footer/footer2x.png');
    background-position: top;
    background-size: cover;
    padding: 32px 0 24px 0;
  }
}
.footer-content {
  padding: 0 16px 0 61px;
  @include media(desktop) {
    padding: 0 80px 0 455px;
  }
}
.rule {
  @include font(14, 17.57);
  font-weight: 400;
  text-align: right;
  color: $title-color;

  @include media(desktop) {
    @include font(16, 19.36);
  }
}

.rule:hover {
  color: #000;
  text-decoration: underline;
}

.rules {
  display: flex;
  flex-direction: column;

  @include media(desktop) {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
}

.rights {
  @include font(10, 12.55);
  font-weight: 400;
  text-align: center;
  padding-top: 45px;
  color: $title-color;

  @include media(desktop) {
    @include font(16, 19.36);
  }
}
