.header {
  position: sticky;
  top: 0;
  padding: 24px 16px;
  width: 320px;
  background-color: $background-color-main;
  border-radius: 8px;
  z-index: 999;

  @include media(desktop) {
    width: 1200px;
    background-color: $background-color-main;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.header-content {
  display: flex;
  flex-direction: row;
  gap: 108px;
  background-color: $background-color-header;
  border-radius: 8px;

  @include media(desktop) {
    gap: 18px;
    align-items: center;
    justify-content: center;
    height: 65px;
    width: 1040px;
    background-color: transparent;
  }
}

.header-content-blue-bg {
  background-color: $background-color-main;
}

.nav-link {
  display: none;

  @include media(desktop) {
    display: flex;
    flex-direction: row;
    font-weight: 400;
    letter-spacing: 0.02em;
    @include font(24, 30.12);
    color: $title-color;
    gap: 32px;
  }
}

.nav-list {
  color: $title-color;
}

.nav-list:hover,
.nav-list:focus {
  color: $hover-color;
}

.nav-list:active {
  color: $hover-color;
  text-decoration: underline;
}
.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}
.icon-burger_menu {
  width: 30px;
  height: 30px;
}
.logo-mob {
  width: 34px;
  height: 34px;
  border-radius: 8px;
  border: 0.5px solid $background-color-gallery;

  @include media(desktop) {
    width: 65px;
    height: 65px;
  }
}

.logo-favicon {
  display: flex;
  align-items: center;
}

.menu-toggle {
  border: none;
  background-color: transparent;
  display: flex;
  align-items: center;
  padding: 0;

  @include media(desktop) {
    display: none;
  }
}

.modal-nav {
  display: none;
  position: absolute;
  top: 24px;
  right: 0;
  width: 268px;
  height: 520px;
  background-color: $background-color-gallery;
  z-index: 1000;
  overflow-y: auto;

  .nav-link {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-top: 66px;
    padding-left: 32px;
  }

  .nav-list {
    @include font(16, 20.08);
    font-weight: 700;
    color: $title-color;
  }

  .nav-list:hover,
  .nav-list:focus {
    color: $hover-color-modal;
  }
}
.modal-nav.open {
  display: block;
  padding: 0;
}
.close-modal {
  position: absolute;
  top: 9px;
  right: 25px;
  border: none;
  background: none;
  cursor: pointer;

  .icon-close {
    width: 34px;
    height: 34px;
    fill: $title-color;
  }
}
