@import './header.scss';
@import './hero.scss';
@import './game-description.scss';
@import './unique-features.scss';
@import './how-to-play.scss';
@import './faq.scss';
@import './gallery.scss';
@import './footer.scss';
@import './privacy-policy.scss';
@import './terms-of-service.scss';

body {
  font-family: 'Mulish', sans-serif;
  color: $text-color;
  background-color: $background-color-main;
}

.container {
  width: $mobile;
  // padding: 0 16px;
  margin: 0 auto;

  @include media(desktop) {
    width: $desktop;
    // padding: 0 80px;
  }
}
