@import './header.scss';
@import './home.scss';
@import './game-description.scss';
@import './unique-features.scss';
@import './how-to-play.scss';
@import './faq.scss';
@import './gallery.scss';
@import './footer.scss';
@import './privacy-policy.scss';
@import './terms-of-service.scss';

// body {
//   font-family: 'Mulish', sans-serif;
//   color: $text-color;
//   background-color: $background-color-main;
// }

.blue-bg {
  background-color: $background-color-policy;
  font-family: 'Mulish', sans-serif;
  color: $text-color;
}

.dark-blue-bg {
  font-family: 'Mulish', sans-serif;
  color: $text-color;
  background-color: $background-color-main;
}
.container {
  width: $mobile;
  position: relative;
  margin: 0 auto;
  background-color: $background-color-main;

  @include media(desktop) {
    width: $desktop;
  }
}
