@import './header.scss';

$background-color-main: #12c6e1;
$background-color-gallery: #9fc804;
$background-color-policy: #a9f6ff;
$background-color-header: #0795aa;
$text-color: #000000;
$title-color: #2d2d2d;
$hover-color: #caff00;
$home-title-color: #e4ca7c;
$shadow-for-title-home: #4a1d1e;

body {
  font-family: 'Mulish', sans-serif;
  color: $text-color;
  background-color: #fff;
}

$container-width-mobile: 320px;
$container-width-desktop: 1200px;

.container {
  width: $container-width-mobile;
  padding: 0 16px;
  margin: 0 auto;

  @media (min-width: 1200px) {
    width: $container-width-desktop;
    padding: 0 80px;
  }
}
