.blue-bg {
  background-color: $background-color-policy;
  font-family: 'Mulish', sans-serif;
  color: $text-color;
}
.footer-terms {
  width: 100%;
  background-image: url('/img/footer/footer1x.png');
  background-size: cover;
  background-position: center;
  color: $title-color;
  padding: 24px 16px 7px 16px;
  display: flex;
  flex-direction: column;

  @include media(desktop) {
    opacity: 100%;
    background-image: url('/img/footer/footer2x.png');
    background-position: top;
    background-size: cover;
    padding: 32px 80px 24px;
  }
}

.rule {
  @include font(14, 17.57);
  font-weight: 400;
  text-align: right;
  color: $title-color;

  @include media(desktop) {
    @include font(16, 19.36);
  }
}

.rules {
  display: flex;
  flex-direction: column;

  @include media(desktop) {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
}

.rights {
  @include font(10, 12.55);
  font-weight: 400;
  text-align: center;
  padding-top: 45px;
  color: $title-color;

  @include media(desktop) {
    @include font(16, 19.36);
  }
}

.terms {
  color: black;
  font-family: Potta One;
  font-weight: 400;
  @include font(24, 34.75);

  @include media(desktop) {
    @include font(48, 69.5);
  }
}

.text-terms {
  color: $title-color;
  font-weight: 400;
  @include font(14, 17.57);

  @include media(desktop) {
    @include font(16, 19.36);
  }
}

.text-terms-sizes {
  color: $title-color;
  font-weight: 400;
  @include font(14, 17.57);

  @include media(desktop) {
    @include font(20, 25.1);
  }
}

.articles {
  font-weight: 800;
  @include font(14, 17.57);

  @include media(desktop) {
    @include font(16, 20.08);
    font-weight: 700;
  }
}

.info-terms-email {
  font-weight: 800;
  @include font(14, 17.57);
}

.terms-sublist {
  list-style-type: disc;
  padding-left: 20px;
  margin-top: 8px;
}

.terms-sublist li {
  margin-bottom: 4px;
}

.terms-container {
  padding: 32px 16px 0 16px;

  @include media(desktop) {
    padding: 68px 82px 48px 78px;
  }
}

.title-box {
  display: flex;
  flex-direction: column;
  gap: 3px;
  justify-content: flex-start;
  margin-bottom: 32px;
}

.text-terms-first {
  color: $title-color;
  font-weight: 400;
  @include font(14, 17.57);
  padding-bottom: 24px;

  @include media(desktop) {
    @include font(16, 19.36);
  }
}

.terms-list {
  padding-bottom: 32px;
}

.terms-list-item {
  padding-bottom: 24px;
}

.terms-list-item:last-child {
  padding-bottom: 0;
}

.image-fixed {
  position: relative;
  background-color: $background-color-policy;
  overflow: hidden;
}

.navigate-home {
  width: 103px;
  padding-left: 16px;
  padding-top: 48px;

  @include media(desktop) {
    width: 260px;
    padding-left: 80px;
    padding-top: 24px;
  }
}

.icon-arrow {
  width: 32px;
  height: 32px;

  @include media(desktop) {
    width: 48px;
    height: 48px;
  }
}

.home-link {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 10px;

  @include media(desktop) {
    @include font(24, 30.12);
  }
}

.rotated-image {
  position: absolute;
  width: 130px;
  height: 200px;
  top: 10px;
  right: -16px;

  @include media(desktop) {
    width: 710px;
    height: 300px;
    top: -10px;
    right: 0px;
  }
}
